:root {
    --primary-color: #b5838d;
    --secondary-color: #6d6875;
    --text-color: whitesmoke;
}

.bold {
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.container{
    max-width: 350px;
    margin: 70px auto 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 2px var(--text-color);
}

fieldset {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    }

legend{
    font-size: 20px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px var(--text-color);
}

label{
    font-size: 16px;
    margin-top: 15px; 
}

input{
    border: none;
    border-radius: 3px;
    line-height: 25px;
}

input:last-child{
    margin-bottom: 5px;
}

input:focus {
    outline: none;
    border: none;    
    box-shadow: 0 0 0 3px #ABA7B1;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 20px 8px;
    transition: all 200ms ease-in-out;
    opacity: 0.8;
}

button:hover,
button:focus {    
    outline: none;
    box-shadow: 5px 5px 9px 3px rgba(66,48,51,0.8);
}

.submit-button {
    display: block;
    margin: 20px auto 0 auto;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

p {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    top: 130px;
    margin: auto;
    height: 130px;
    max-width: 550px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: var(--text-color);
    color: var(--secondary-color);  
}

.buttons-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    flex-grow: 1;
}

.modal-button {
    color: var(--secondary-color);
    background-color: hsla(348, 25%, 61%, 0.255);    
    border: 2px solid var(--secondary-color);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--text-color);
}

img {
    max-width: 350px;
    margin-top: 15px;
    border-radius: 5px;
}